[Desktop Entry]
Name=About Developer
Comment=About Aditya Shakya (@adi1090x)
Exec=/usr/bin/about.sh
Icon=archcraft_circle_white
Type=Application
Categories=System
